.app {
  background-color: #222222;
}

.nav-bar {
  height: 40px;
  background-color: #444444;
  color: #888888;
  box-shadow: 0px 10px #333333;
}

.nav-block {
  height: 100%;
  width: 100px;
  display: inline-block;
  border: 0px;
  outline: 0px;
  color: #ffab78;
  background-color: #c56636;
  box-shadow: 0px 10px #823e25;
  margin-right: 10px;
  float: left;
}

.nav-button {
  transition: 0.15s;
  color: #333333;
  background-color: #5f5f5f;
  box-shadow: 0px 10px #3f3f3f;
  cursor: pointer;
}
.nav-button:active {
  transition: 0.05s;
  background-color: #555555;
  box-shadow: 0px 6px #333333;
  transform: translateY(4px);
}

.page-container {
  position: static;
  display: block;
}

.page-content {
  color: #666666;
  height: 100vh;
  margin-top: 20px;
}

.page-body {
  margin-left: 20px;
  margin-right: 20px;
}
